<h1>
  Registered Alexa Transport Users
</h1>

<div class="user-container">
  <mat-card class="user mat-elevation-z6" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title>Id : {{ user._id }}</mat-card-title>
      <mat-card-subtitle>Amazon User Id : {{ user.amazonUserId }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Bus Stop Id : {{ user.busStopId }}</mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon aria-label="Edit icon">create</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Delete icon">clear</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="newUser._id" matInput placeholder="Id" name="id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="newUser.amazonUserId" matInput placeholder="Amazon User Id" name="amazonUserId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="newUser.busStopId" matInput placeholder="Bus Stop Id" name="busStopId">
  </mat-form-field>

  <button mat-stroked-button (click)="addUser()">ADD USER</button>
</form>